$lime: limegreen;

main {
    margin-top: 25%;
    padding: 20px;

    font-family: 'SF Digital', 'Arial', sans-serif;
    font-size: 156px;
    color: $lime;

    align-self: center;
    border: 1px solid transparent;
}